<div  class="container-fluid text-center">
			 <div class="jumbotron bg-2 nobottomPadMargin" id="name" style="
    margin-top: 50px;" >
    <div class="container animated fadeInUp">
		<h1>New York Crime Analytics: A website displaying crime analytics in New York (December 2016)</h1>
			<h2> Brief Summary: </h2>
			<br>
			<p style="text-align: justify;">
			This is a web application that shows crimes in New York where the user can display a data visualization of for example, on what days had the least amount of crime, or ask what area was the most dangerous based on a specific crime. I worked with a group of students that used HandlebarJS as the front-end framework, NodeJS as the back-end, Express as the middleware, SQL, AWS to host the web application, and used Highcharts API for data visualization.
			</p>
			<h2> Challenges That Ocurred: </h2>
			<br>
			<p style="text-align: justify;">
			I was new to using HandlebarsJS with NodeJS and Express, but I was tasked on having the query results be passed over to a new page that would display the information with charts and designing the front-end for the entire website.
			<br>

			</p>
			<h2> Solution: </h2>
			<br>
			<p style="text-align: justify;">
			I managed to find a library that would help with translating the information over and parsing the JSON object to input the information dynamically for the Highcharts API to use. I used materializeCSS to design the front-end.
			<br>
			
			</p>
		</div>
			</div>
				
				
		
		
		</div>
		
