<div  class="container-fluid text-center">

		 <div class="jumbotron bg-2 nobottomPadMargin " id="name" style="margin-top: 50px;" >
<center>

		 <h1>projects</h1>
			 </center>

				    <div class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">Little Search Engine</a>
				    </div>
				     <div id="project1" class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">CalendarShare</a>
				    </div>

				    <div class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">Crime Analytics</a>
				    </div>

				    <div class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">Targum Refund</a>
				    </div>

				    <div class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">Little Search Engine</a>
				    </div> <div id="project1" class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">CalendarShare</a>
				    </div>

				    <div class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">Crime Analytics</a>
				    </div>

				    <div class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">Targum Refund</a>
				    </div>

				    <div class="col-sm-3 col-md-6 grid" style="background-color:yellow;">
				     <a href="#project1">Little Search Engine</a>
				    </div>
				  
		   
		  	
		
			
		</div>
				
				
		
		
</div>