<div  class="container-fluid text-center">
			 <div class="jumbotron bg-2 nobottomPadMargin" id="name" style="
    margin-top: 50px;" >
		<div class="container animated fadeInUp">

		<h1>TargumRefund: A story about an unsubscription site (September 2016)</h1>
			<h2> Brief Summary: </h2>
			<br>
			<p style="text-align: justify;">
			This is a web application that utilizes NodeJS as a back-end, Express as the middleware, AngularJS as the front-end, uses the MailGun API, Firebase database, and was hosted using AWS Elastic Bean Stalk. Every semester Rutgers University students are billed $11.25 on their term bill, and it is rather difficult to find where to unsubscribe from their services. TargumRefund is a form that automatically generates an email which is sent to the Daily Targum after the student inputs their information and submits to be unsubscribed from their services saving them an estimated amount of $180 if done for four years.
			</p>
			<h2> Challenges That Ocurred: </h2>
			<br>
			<p style="text-align: justify;">
			Being new to Firebase, Express, AngularJS, and NodeJS (I call it F.E.A.N stack), it was difficult familiarizing myself with the syntax and how to combine each piece together in order to have a working website. It was also the first website I ever made from scratch, so I wanted to make sure the technology I was using were the correct tools for the job.
			<br>

			</p>
			<h2> Solution: </h2>
			<br>
			<p style="text-align: justify;">
			Researched. (A.K.A Googled alot). Followed tutorials on Google's Firebase page and looked at MailGun API documentation. The project wasn't too hard to construct, but the learning process and the act of researching what I needed and why I needed it was a very valuable excercise. 
			<br>
			
			</p>
		
			</div>
				
				
		
		
		</div>
		
</div>