html,body {

font-family: 'Secular One', sans-serif;
height:100%;


}
.navbar-default .navbar-toggle .icon-bar
{
	background-color:#fd0436;
}

#HOME
{
	padding-bottom:0px;
}

.navbar-default 
{
	
	border-color:#fd0436;
}

.navbar-toggle 
{
	background-color:white;
	border-color:white;
}
.main
{
	
	background-color:#fd0436;
	height:100%;
}

.bg-1
{
	background-color:#fd0436;
}

#SMALL_LINKS {

    padding-left: 0px;
    padding-right: 0px;
    margin-right: 25px;
}

.bigfont
{
	font-size:300%;
}

.TEST a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  padding-left: 1cm;
  padding-right: 1cm;
}

.TEST a:hover {
  color: #ffffff;
  padding-left: 1cm;
  padding-right: 1cm;
}


.TEST a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding-left: 1cm;
  padding-right: 1cm;
}

.TEST a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  padding-left: 1cm;
  padding-right: 1cm;
}